.mainfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap: 200px;
    margin-bottom: 0%;
    background-color: rgb(19, 19, 143);
    text-align: left;


}
.footerlogo img {
    scale: 1.0;
}
.footercontact {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 50px; 
}
.footercontact button {
    margin-left: 0;
}
.footercontactinfo {
    height: 100%;
    min-width: 500px;
    z-index: 1;
    text-align: left;
    margin-left: 5%;
    color: white;

}
.map iframe {
    width: 350px;
    height: 350px;

}

.facebookfooter {
    position: relative;
    color:blue; /* Set your desired text color */
    text-decoration: none;
    font-size: x-large;
}
.facebookfooter:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust position below the text */
    width: 0;
    height: 2px; /* Adjust underline height */
    background-color:blue;/* Set your desired underline color */
    transition: width 0.3s ease-in-out; /* Animation duration and easing */
}
.facebookfooter:hover::after {
    width: 100%;
}

.twitterfooter {
    position: relative;
    color: blue; /* Set your desired text color */
    text-decoration: none;
    font-size: x-large;
}
.twitterfooter:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust position below the text */
    width: 0;
    height: 2px; /* Adjust underline height */
    background-color:lightblue;/* Set your desired underline color */
    transition: width 0.3s ease-in-out; /* Animation duration and easing */
}
.twitterfooter:hover::after {
    width: 100%;
}

.instagramfooter {
    position: relative;
    color: blue;
    text-decoration: none;
    font-size: x-large;
}
.instagramfooter:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust position below the text */
    width: 0;
    height: 2px; /* Adjust underline height */
    background-color:burlywood;/* Set your desired underline color */
    transition: width 0.3s ease-in-out; /* Animation duration and easing */
}
.instagramfooter:hover::after {
    width: 30%;
}

.instagramfooter {
    position: relative;
    color: black; /* Set your desired text color */
    text-decoration: none;
    font-size: x-large;
}
.instagramfooter:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust position below the text */
    width: 0;
    height: 2px; /* Adjust underline height */
    background-color:burlywood;/* Set your desired underline color */
    transition: width 0.3s ease-in-out; /* Animation duration and easing */
}
.instagramfooter:hover::after {
    width: 100%;
}

.footersocialmedia a {
    color: white;

}
